/* footer.css */
footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
}
  
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
.col {
    flex-basis: 30%;
  }
  
  h3 {
    color: #fff;
  }
  
  .col p {
    color: #ccc;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 1.5em;
  }
  
  .social-icons a:hover {
    color: #55acee; 
  }

  
  /* This is  styling for the newsletter subscription */

  #susbcribe {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(116, 172, 222);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  

  /* this is the styling for the Contact and About us page */

#about-us {
  padding: 20px;
  background-color: rgb(135, 135, 225);
  border-radius: 10px;
  box-shadow: 0 0 10px blue
}

.about-us h2 {
  font-size: 24px;
  margin-bottom: 20px;
  
}

.about-us h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-us p {
  font-size: 16px;
  
}